body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 5%;
    margin: 5px;
    background-color: rgb(87, 199, 255) ;
    border-radius: 10px;
  }
  
  .logo {
    margin-right: auto;
    color: white;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #1381ff;
  }
  
  .cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgb(100, 224, 255);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: rgba(10, 189, 249, 0.8);
  }
  
  /* Mobile Nav */
  
  .menu {
    display: none;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(63, 165, 255) ;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
  }
  
  .overlay--active {
    width: 100%;
  }
  
  .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: rgb(68, 218, 255);
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
    cursor: pointer;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
      display: none;
    }
    .menu {
      display: initial;
    }
  }
  
  img,
  svg {
    display: block;
    width: 100%;
  }
  
  a {
    text-decoration: none;
  }
  
  .pf-sticky-section {
    width: 40%;
    height: 8%;
    position: fixed;
    align-items: center;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0  );
    border-radius: 20px;
    z-index: 9;
    padding: 0 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  @media (max-width: 767px) {
    .pf-sticky-section {
      display: none; /* Hide the sticky section on mobile */
    }
  }
  
  .pf-sticky-section ul {
    list-style: none;
    border-radius: 12px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
  }
  
  .pf-sticky-section li {
    display: inline-block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: box-shadow 0.5s;
    border-radius: 12px;
    padding: 10px;
    margin: 10px;
    
    user-select: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
  }
  
  .pf-sticky-section li:hover {
    background: #d2d2d2;
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
      inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
    cursor: pointer;
  }
  
  .pf-sticky-section img {
    width: 50%;
    height: 10%;
    height: auto;
    display: block;
    margin: auto;
    margin: 10px;
  }
  
  
  @keyframes floatAnimation {
    0% {
      transform: translate3d(20px, 0, 0);
    }
    50% {
      transform: translate3d(0, 20px, 0);
    }
    100% {
      transform: translate3d(0, 0, 100px);
    }
  }

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

body {
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}

.footer {
	background-color: #151515;
	padding: 80px 0;
}

.container {
	max-width: 1170px;
	margin: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

ul {
	list-style: none;
}

.footer-col {
	width: 25%;
	padding: 0 15px;
}

.footer-col h4 {
	font-size: 18px;
	color: #FFF;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #E91E63;
	width: 50px;
	height: 2px;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}

.footer-col ul li a {
	color: #DDD;
	display: block;
	font-size: 1rem;
	font-weight: 300;
	text-transform: capitalize;
	text-decoration: none;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover {
	color: #FFF;
	padding-left: 7px;
}

.footer-col .social-links a {
	color: #FFF;
	background-color: rgba(255, 255, 255, 0.2);
	display: inline-block;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	text-align: center;
	margin: 0 10px 10px 0;
	line-height: 40px;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
	color: #151515;
	background-color: #FFF;
}

@media(max-width: 767px) {
	.footer-col {
		width: 50%;
		margin-bottom: 30px;
	}
}

@media(max-width: 574px) {
	.footer-col {
		width: 100%;
	}
}
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

a:link,a:active,a:visited,a:hover{
	color:#3f51b5;
}
body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Barlow Semi Condensed', sans-serif;
}
.outerdiv
{
	width: 100%;
    min-height: 100vh;
    background: #EDF2F8;
    display: flex;
    align-items: center;
    justify-content: center;

    display: flex;
  flex-direction: column;
  align-items: center;
}
.innerdiv
{
	transform: scale(0.9);
	margin: 1rem;
	display: grid;
	grid-gap: 1.5rem;
	grid-template-rows: repeat(2,22rem);
	grid-template-columns: repeat(4,17rem);

  
}
.eachdiv
{
	padding: 1rem 2rem;
    border-radius: 0.8rem;
    box-shadow: 5px 5px 20px #6d6b6b6b;
    color: white;
}
.div1
{
	background: #733FC8;
    grid-column: 1/3;
    grid-row: 1/2;
    
    background-repeat: no-repeat;
    background-size: 50px; /* Adjust the size as needed */
    background-position: top left;
    background-image: url("img/inverted-commas-svgrepo-com.svg");
    
}
.div2
{
	background:#49556B;
    grid-column: 3/4;
    grid-row: 1/2;
}
.div3
{
	background: white;
    grid-column: 4/5;
    grid-row: 1/3;
    
    color: black;
}
.div4
{
	background: white;
	grid-column: 1/2;
  
    grid-row: 2/3;
    color: rgb(73, 73, 73);
}
.div5
{
	background: #18202D;
	grid-column: 2/4;
    grid-row: 2/3;
    
    background-position: bottom right;
    background-image: url("img/inverted-commas-svgrepo-com.svg");
}
.userdetails
{
	display: flex;
}
.imgbox
{
	margin-right: 1rem;
}
.imgbox img
{
	border-radius: 50%;
	width: 2rem;
	border: 2px solid #cec5c5;
}
.detbox
{
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.detbox p
{
	margin: 0;
}
.detbox .name
{
	color: hsl(0, 0%, 81%);
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
    font-weight: 600;
}
.detbox .name.dark
{
	color: #49505A;
}
.detbox .designation
{
	color: hsl(0, 0%, 81%);
    opacity: 50%;
    font-size: 0.8rem;
}
.detbox .designation.dark
{
	color: #49505A;
}
.review h4
{
	font-size: 1.4rem;
	color: #F3DEFF;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 0.8rem;
}
.review.dark h4{
	color:#4B5258;
}
.review p
{
	font-size: 0.95rem;
    color: #F3DEFF;
    font-weight: 500;
    opacity: 50%;
    line-height: 1.5;
}
.review.dark p{
	color: #0e0e0e;
}
.attribution
{
	font-size: 1rem;
    line-height: 1.5;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    text-align: right;
}
.attribution a
{
	text-decoration: none;
}

@media only screen and (max-width: 1000px)
{
	.innerdiv
	{
		transform: scale(0.7);
	}
}
@media only screen and (max-width: 800px)
{
	.innerdiv
	{
		transform: scale(0.6);
	}
}
@media only screen and (max-width: 600px)
{
	.div1 {
		background-position-x: 10rem;
	}
	.innerdiv
	{
		display: flex; 
		flex-direction: column;
		transform: scale(1);
		margin: 2rem;
		margin-bottom: 5rem;
	}
	.attribution
	{
		position: relative;
	}
}

.full-part {
  background-color: #f0f0f0;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 10px;
  overflow: hidden;
  width: 95%; 
  margin: 10px;
} 

/* Style for the title part */
.title-part {
  background-color: rgb(116, 178, 255) ; /* Background color for the title part */
  color: white; /* Text color for the title part */
  padding: 20px;
  border-radius: 20px 20px 0 0; /* Rounded corners for the top of the title part */
}

/* Style for the two-parts div */
.two-parts {
  background-color: rgb(68, 124, 255); /* Background color for the two-parts div */
  border-radius: 20px 20px 20px 20px; /* Rounded corners for the bottom of the two-parts div */
  overflow: hidden; /* Hide overflow content */
}

/* Style for the top and bottom parts */
.top-part,
.bottom-part {
    width: 100%;
    height: 20%;
  padding: 20px;
  box-sizing: border-box;
}

/* Different background colors for top and bottom */
.top-part {
  background-color: rgb(46, 146, 240); /* Background color for the top part */
  color: white; /* Text color for the top part */
}

.bottom-part {
  background-color: rgb(12, 212, 235); /* Background color for the bottom part */
  color: white; /* Text color for the bottom part */
}

.container-ninja {
  width: 100%;
}

/* Bar */
.ars-longa {
  width: 100%;
  height: 50px;
  border-radius: 10px;  
  background-color: #1381ff;
  position: relative;
  overflow: hidden;
}

/* Text in the middle of the bar */
.ars-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  background-color: #1381ff;
  color: white;
}

/* Animation keyframes */
@keyframes arsFillAnimation {
  to {
    width: 100%;
  }
}
.logoho img {
  width: 50px; /* Adjust the width as desired */
  height: auto; /* Maintain aspect ratio */
}