body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    background-color: #8dd1ff;
  }
  
  .floating-div {
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    animation: floatAnimation 4s infinite ease-in-out alternate;
  }
  body {
    background-color: black;
  }
  
  .update-text {
    position: relative;
    width: 150px;
    height: 80px;
    margin: 0 auto;
    color: white;
    font-weight: lighter;
    text-align: center;
    
    &:after {
      content:"Hello!";
      animation: change-text 3s ease-in-out 0s infinite normal forwards;
    }
  }
  
  .web-page {
    position: relative;
    width: 150px;
    height: 80px;
    margin: 8em auto;
    animation: spin 3s ease-in-out 0s infinite normal forwards;
    
    .bar {
      position: absolute;
      background-color: white;
      opacity: 0;
      transform-origin: 0% 0%;
      
      &:nth-child(1) {
        width: 100%;
        height: 20px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        animation: rotate-in 3s ease-in-out 0s infinite normal forwards;
        transform: rotate(-40deg);
      }
      &:nth-child(2) {
        width: 8px;
        height: 100%;
        top: 18px;
        animation: rotate-in 3s ease-in-out .6s infinite normal forwards;
        transform: rotate(-40deg);
        transform-origin: 100% 100%;
      }
      &:nth-child(3) {
        width: 100%;
        height: 8px;
        bottom: -25px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;  
        animation: rotate-in 3s ease-in-out .4s infinite normal forwards;
        transform: rotate(-40deg);
        transform-origin: 100% 100%;
      }
      &:nth-child(4) {
        width: 8px;
        height: 100%;
        right: 0;
        top: 18px;
        animation: rotate-in 3s ease-in-out .2s infinite normal forwards;
        transform: rotate(-40deg);
        transform-origin: 0% 0%;
      }
    }
    .dot {
      position: absolute;
      background-color: black;
      width: 8px;
      height: 8px;
      opacity: 0;
      
      &:nth-child(5) {
        border-radius: 100%;
        right: 12px;
        top: 6px;
        animation: fade-in 3s ease-in-out .4s infinite normal forwards;
      }
      &:nth-child(6) {
        border-radius: 100%;
        right: 24px;
        top: 6px;
        animation: fade-in 3s ease-in-out .2s infinite normal forwards;
      }
      &:nth-child(7) {
        border-radius: 100%;
        right: 36px;
        top: 6px;
        animation: fade-in 3s ease-in-out 0s infinite normal forwards;
      }
    }
  }
  
  @keyframes rotate-in {
    15% {
      opacity: 1;
      transform: rotate(0deg);
    }
    80% {
      opacity: 1;
      transform: rotate(0deg);   
    }
    95% {
      opacity: 0;
    }
  }
  @keyframes spin {
    50% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes fade-in {
    45% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    65% {
      opacity: 1;
    }
    75% {
      opacity: 0;
    }
  }
  @keyframes change-text {
    25% {
      content: "Hello!";
    }
    70% {
      content: "नमस्ते!";
    }
    100% {
      content: "नमस्कार!";
    }
  }
  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(71, 182, 255);
    color: white;
    font-size: 36px;
    font-weight: bold;
    border-radius: 20%; 
    box-shadow: 0px 0px 20px #6ec4fe;
    user-select: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
        
  }

  
  img,
  svg {
    display: block;
    width: 100%;
  }
  
  a {
    text-decoration: none;
  }
  
  .pf-sticky-section {
    width: 50%;
    height: 100px;
    position: fixed;
    align-items: center;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0  );
    border-radius: 20px;
    z-index: 9;
    padding: 0 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  @media (max-width: 767px) {
    .pf-sticky-section {
      display: none; /* Hide the sticky section on mobile */
    }
  }
  
  .pf-sticky-section ul {
    list-style: none;
    border-radius: 12px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    padding-right: 40px;
  }
  
  .pf-sticky-section li {
    display: inline-block;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: box-shadow 0.5s;
    border-radius: 12px;
    padding: 10px;
    margin: 10px;
    
    user-select: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
  }
  
  .pf-sticky-section li:hover {
    background: #d2d2d2;
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
      inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
    cursor: pointer;
  }
  
  .pf-sticky-section img {
    width: 50px;
    height: 50px;
    height: auto;
    display: block;
    margin: auto;
  }
  
  
  @keyframes floatAnimation {
    0% {
      transform: translate3d(20px, 0, 0);
    }
    50% {
      transform: translate3d(0, 20px, 0);
    }
    100% {
      transform: translate3d(0, 0, 100px);
    }
  }

  